USE [RestAPI]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[City]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[StateID] [int] NULL,
	[Status] [varchar](20) NULL,
	[Latitude] [real] NULL,
	[Longitude] [real] NULL,
	[DateAdded] [datetime] NULL,
	[DateTimeAdded] [datetime] NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[State]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[State](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Abbreviation] [varchar](50) NULL,
	[DateAdded] [datetime] NULL,
	[DateTimeAdded] [datetime] NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserMap]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsersID] [int] NOT NULL,
	[AspNetUsersID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_UserMap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DateAdded] [datetime] NULL,
	[DateTimeAdded] [datetime] NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 8/23/2016 12:29:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsersID] [int] NOT NULL,
	[CityID] [int] NOT NULL,
	[VisitDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0802cd9f-51e2-43da-a452-8aed8435480e', N'ESmith@test.com', 0, N'AMJr3+N1yB8db4CDqyeEMMsmaYPTp38ya8wqM4kwM3rUW/Io4xmhZAbrfKmvnHe0yg==', N'af8b03a2-6d3b-4123-ad2c-47cfbb0fae8c', NULL, 0, 0, NULL, 0, 0, N'ESmith@test.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0e599e42-905e-46e2-901c-babed77b898d', N'JiSmith@test.com', 0, N'AB8Te/4tQ0LWA9JY2ZrV4tWdl6VE6v9W59TM3odDIYeV7SM1Iyood8PtP3IyPXYwSQ==', N'd3226639-11aa-41c3-aea7-7a02b7af6453', NULL, 0, 0, NULL, 0, 0, N'JiSmith@test.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'212869ff-d281-4a1b-b606-3b585ee103b5', N'CJones@test.com', 0, N'AJ2G+tBORRpia7V/WhunG+vUSg5Gv0d60VMWvss/xes3ZuSNFuHP+bdjwKr+YyJlCw==', N'b6a8c3a8-f9d9-41f5-8566-56941fe42f11', NULL, 0, 0, NULL, 0, 0, N'CJones@test.com')
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [Name], [StateID], [Status], [Latitude], [Longitude], [DateAdded], [DateTimeAdded], [LastUpdated]) VALUES (1, N'Akron', 1, N'verified', 32.87802, -87.74399, CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[City] ([ID], [Name], [StateID], [Status], [Latitude], [Longitude], [DateAdded], [DateTimeAdded], [LastUpdated]) VALUES (2, N'Huntsville', 1, N'verified', 34.7291336, -86.58498, CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[City] ([ID], [Name], [StateID], [Status], [Latitude], [Longitude], [DateAdded], [DateTimeAdded], [LastUpdated]) VALUES (3, N'Addison', 1, N'verified', 34.2021751, -87.18138, CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([ID], [Name], [Abbreviation], [DateAdded], [DateTimeAdded], [LastUpdated]) VALUES (1, N'Alabama', N'AL', CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[State] ([ID], [Name], [Abbreviation], [DateAdded], [DateTimeAdded], [LastUpdated]) VALUES (2, N'Alaska', N'AK', CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[State] ([ID], [Name], [Abbreviation], [DateAdded], [DateTimeAdded], [LastUpdated]) VALUES (3, N'Arizona', N'AZ', CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[State] OFF
SET IDENTITY_INSERT [dbo].[UserMap] ON 

INSERT [dbo].[UserMap] ([ID], [UsersID], [AspNetUsersID]) VALUES (1, 4, N'afe78a3f-313b-446d-ab06-ccf2e77bfc2a')
INSERT [dbo].[UserMap] ([ID], [UsersID], [AspNetUsersID]) VALUES (2, 5, N'de91c526-ce27-45cb-a668-aa8831774ca8')
INSERT [dbo].[UserMap] ([ID], [UsersID], [AspNetUsersID]) VALUES (3, 6, N'4e729869-daf8-4286-9f63-a0e46ebc0bf0')
SET IDENTITY_INSERT [dbo].[UserMap] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [FirstName], [LastName], [DateAdded], [DateTimeAdded], [LastUpdated]) VALUES (1, N'Henry', N'Harrison', CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([ID], [FirstName], [LastName], [DateAdded], [DateTimeAdded], [LastUpdated]) VALUES (2, N'John', N'Smith', CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([ID], [FirstName], [LastName], [DateAdded], [DateTimeAdded], [LastUpdated]) VALUES (3, N'Jim', N'Smith', CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime), CAST(N'2015-03-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Visits] ON 

INSERT [dbo].[Visits] ([ID], [UsersID], [CityID], [VisitDate]) VALUES (1, 1, 1, CAST(N'2016-08-19 12:04:55.550' AS DateTime))
INSERT [dbo].[Visits] ([ID], [UsersID], [CityID], [VisitDate]) VALUES (2, 1, 2, CAST(N'2016-08-19 17:14:00.830' AS DateTime))
INSERT [dbo].[Visits] ([ID], [UsersID], [CityID], [VisitDate]) VALUES (3, 1, 283, CAST(N'2016-08-19 17:14:00.840' AS DateTime))
SET IDENTITY_INSERT [dbo].[Visits] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AspNetUsers] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AspNetUsers]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AspNetUsers1] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AspNetUsers1]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_State] FOREIGN KEY([StateID])
REFERENCES [dbo].[State] ([ID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_State]
GO
ALTER TABLE [dbo].[UserMap]  WITH CHECK ADD  CONSTRAINT [FK_UserMap_AspNetUsers] FOREIGN KEY([AspNetUsersID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserMap] CHECK CONSTRAINT [FK_UserMap_AspNetUsers]
GO
ALTER TABLE [dbo].[UserMap]  WITH CHECK ADD  CONSTRAINT [FK_UserMap_Users] FOREIGN KEY([UsersID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserMap] CHECK CONSTRAINT [FK_UserMap_Users]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_City]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Users] FOREIGN KEY([UsersID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Users]
GO
